
<div class="row">

  <div class=col-md-3>

    <img class="card-img-top img-fluid" [src]="movie.poster" >
    <br><br>

    </div>

<div class="col-md-8">
  <div>
  <h1>{{movie.title}}</h1>
</div>
  <hr>
  <div>
    <label>Genres: {{movie.genres}}</label>
</div>
<div>
  <label>Year: {{movie.year}}</label>
</div>
<div>
    <label>Director: {{movie.director}}</label>
</div>
<div>
    <label>Actors: {{movie.actors}}</label>
</div>

<div>
    <label>Sypnopsis: {{movie.synopsis}}</label>
</div>
  <a [routerLink]="['/movies']" class="btn btn-outline-danger btn-block">Come back</a>

</div>
